* {
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}

a:link {
  color: #444;
}
a:hover {
  color: #444;
}
a:active {
  color: #555;
}
a:visited {
  color: #555;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.flexContainer {
  display: flex;
}
